.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: rgb(255, 255, 255);
  z-index: 9999;

  position: sticky;
  top: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 2em;
}

.header__link {
  font-size: var(--size-xs);
  color: var(--clr-dark);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1.5em;
}

.header__link:hover {
  color: var(--clr-peach);
  transition: all 400ms ease-in-out;
}

/* .navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  background: #000;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
} */

/* .navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
} */

.header__line {
  border: 1px solid black;
  padding-top: 1.5em;
}

.header__user {
  display: block;
  color: black;
  width: var(--size-l);
  height: var(--size-l);
}

.header__login {
  width: 100px;
  height: 40px;
  font-size: var(--size-xs);
  color: var(--clr-light);
  margin-right: 20px;
}

.header__menu {
  display: none;
}

.header__bars {
  color: black;
  height: var(--size-2xl);
  width: var(--size-2xl);
}

/* xs */
/* @media (min-width: 475px) {
} */

/* s */
/* @media (min-width: 640px) {
} */

/* m */
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .header__link {
    font-size: var(--size-s);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: -0.05em;
  }

  .header__line {
    border: 1px solid black;
    padding-top: 1.5em;
  }

  .header__user {
    display: block;
    color: black;
    width: var(--size-base);
    height: var(--size-base);
  }

  .header__login {
    font-size: var(--size-s);
  }

  .header__bars {
    display: none;
  }
}

/* l */
@media (min-width: 1024px) {
  .header__link {
    font-size: var(--size-m);
  }

  .header__user {
    width: var(--size-xl);
    height: var(--size-xl);
  }

  .header__login {
    font-size: var(--size-m);
  }
}

/* xl */
/* @media (min-width: 1280px) {
} */

/* xxl */
/* @media (min-width: 1536px) {
} */
