@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --base-color: white;
  --text-color: #2e2b41;
  --input-color: #f3f0ff;
  --clr-light: #fafafa;
  --clr-dark: rgb(2, 6, 23);
  --clr-peach: #ffc8dd;
  --clr-peach-light: rgb(255, 200, 221, 0.5);
  --clr-blue: #a2d2ff;

  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-s: 0.875rem;
  --size-base: 1rem;
  --size-l: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

body {
  font-family: "Poppins", "Segoe UI", sans-serif;
  color: var(--text-color);
  background: linear-gradient(45deg, #a2d2ffa9, var(--clr-light));
  padding-bottom: 5em;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  max-width: 550px;
  margin: auto;
  margin-top: 2em;
}

.heading,
.sub-heading {
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.heading {
  color: var(--clr-darl);
  text-shadow: 0px 5px 5px var(--clr-light);
  font-size: var(--size-5xl);
}

.sub-heading {
  text-align: left;
}

.contactForm {
  display: grid;
  gap: 5em;
}

form {
  width: 100%;
  margin-top: 3em;
}

.para {
  color: var(--text-color);
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.para2 {
  text-align: left;
}

.input {
  width: 95%;
  max-width: 700px;
  border: none;
  font-size: 0.9rem;
  padding: 1em;
  outline: none;
  background-color: var(--clr-peach-light);
  color: var(--clr-dark);
  border-radius: 10px;
  border: 3px solid var(--clr-peach);
  margin-bottom: 1em;
}

.input:focus {
  border: 1px solid var(--primaryColor);
}

.input::placeholder {
  text-transform: capitalize;
  color: var(--clr-dark);
}

.btn {
  font-weight: bold;
  cursor: pointer;
  border: none;

  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  padding: 1em 1.5em;
  border-radius: 6px;

  background-color: var(--clr-peach);
  box-shadow: 0 10px 20px var(--clr-peach-light),
    0 6px 6px var(--clr-peach-light);
  color: var(--clr-light);
  text-shadow: 0 10px 20px var(--clr-peach-light);
  transition: all 400ms ease-in-out;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgb(255, 200, 221, 0.25),
    0 10px 10px rgb(255, 200, 221, 0.22), 0 0 100px -10px var(--clr-peach-light);
}

.map-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.mapBg {
  position: absolute;
  background-color: var(--primaryColor);
  top: 0;
  right: 0;
  width: 200px;
  height: 90%;
  border-radius: 20px;
}

.map {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.contactMethod {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.method {
  display: flex;
  align-items: center;
}

.contactIcon {
  font-size: 2rem;
  color: var(--primaryColor);
  width: 70px;
}

@media screen and (min-width: 800px) {
  section {
    max-width: 1100px;
  }
  .contactForm {
    grid-template-columns: 1fr 1fr;
  }

  .contactMethod {
    flex-direction: row;
    justify-content: space-between;
  }
}
